body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
  background: #ffffff;
}
/* під питанням */
.title {
  padding: 188px 0;
}
.section {
  padding: 120px 0;
}
/* під питанням */
.container {
  max-width:1158px;

  margin: 0 auto;
  padding: 0 15px;
}
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin: 0;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
