.header {
  border-bottom: 1px solid #e7e9fc;

  
}
.header-container {
  display: flex;
  align-items: center;
  
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  line-height: 1.33333;
  text-decoration: none;
}
.logo-web {
  color: #4d5ae5;
}

.navigation-list {
  display: flex;
  gap: 40px;
}
.navigation-link {
  display: block;

  padding: 24px 0;

  color: #2e2f42;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}
.navigation .navigation-link:active {
  color: #404bbf;
}

.contacts {
  margin-left: auto;

  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}
