.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
}
.section-title{
font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-title {
  margin-bottom: 72px;
}
.team-card {
  width: calc((100% - 72px) / 4);

  background-color: #ffffff;

  border-radius: 0 0 4px 4px;

  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-image {
  width: 100%;
  height: auto;
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}
.team-name{
  margin-bottom: 8px;

  color: #2e2f42;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-position {
  color: #434455;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;

gap: 24px;
}
.team-link {
  border-radius: 50%;
width: 40px;
height: 40px;
background-color: var(--iris);
display: flex;
align-items: center;
justify-content: center;
 background-color: #4D5AE5;
}
.team-link svg {
   width: 20px;
  height: 20px;
  color: #ffffff;
}
.team-link:hover {
  background: #404BBF;
}